ul {
  list-style: disc outside none !important;
}

li {
  display: list-item !important;
}

@charset "utf-8";

@import '_core/reset';
@import '_core/font';
@import '_core/typography';
@import '_core/mixins';
@import '_variables';
@import '_core/base';

@import '_partial/nav';
@import '_partial/article';
@import '_partial/container';
